{% extends 'admin_base.html.twig' %}

{% block title %}Modifier un meuble{% endblock %}

{% block body %}
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm">
                <div class="card-header" style="background: #8b5e3c; color: white;">
                    <h4 class="mb-0">Modifier le meuble</h4>
                </div>

                <div class="card-body">
                    {{ include('meuble/_form.html.twig', {
                        'button_label': 'Modifier',
                        'meuble': meuble
                    }) }}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}