{% extends 'base.html.twig' %}

{% block title %}Commandes - SymHome{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Commandes</h1>

    <a href="{{ path('app_commande_historique') }}" class="btn btn-primary">
        Voir mes commandes
    </a>
</div>
{% endblock %}